.colorone {
  background-color: #e69b00;
}

.jumbotron {
  background-color: #f2eeec;
}

.paddingupdown {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  max-width: 100%;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ffd767;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffc64d;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
